fastapi
uvicorn
aioboto3
aiomysql
python-multipart
lxml
beautifulsoup4
cryptography
boto3
pydantic
requests
openai
aiofiles
python-dotenv
pytest
pytest-mock
pytest-asyncio
pytest-cov
httpx
SQLAlchemy
SQLAlchemy[asyncio]
pymysql
aiobotocore
gunicorn